.slide-wrapper {
  overflow: hidden;
}

.slide {
  display: block;
}

.slide-animais {
  display: flex;
}

.slide-animais:hover {
  will-change: transform;
}

.slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;

  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  opacity: 0.8;
  transform: scale(0.8);
  transition: 0.4s;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}

[data-control="slide"] {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

[data-control="slide"] li {
  display: block;
  width: 18px;
  height: 18px;
  background: #fb5;
  border-radius: 50%;
  overflow: hidden;
  text-indent: -999px;
  cursor: pointer;
  margin: 5px;
}

[data-control="slide"] li.active,
[data-control="slide"] li:hover {
  background: #e54;
}

.custom-controls {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.custom-controls li {
  opacity: 0.8;
  transform: scale(0.8);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.custom-controls li.active {
  opacity: 1;
  transform: scale(1);
}

.arrow-nav {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.arrow-nav button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: white;
  width: 40px;
  height: 40px;
  background: #fb5 url("../img/arrow.svg") center center no-repeat;
}

.arrow-nav button.prev {
  transform: rotate(-180deg);
}
