.slide-wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
}

.slide-animais {
  display: flex;
}

.slide-animais:hover {
  will-change: transform;
}

.slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;

  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  opacity: 0.8;
  transform: scale(0.8);
  transition: 0.4s;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}
